@layer reset, layout, skin;

@import url(reset.css) layer(reset);

@layer layout {
  @media (min-width: 0) {
    * {
      /* TIME */
      --def-transition-duration: 0.15s;

      /* LENGTH */
      --small-gap: clamp(0.5rem, 1.5vw, 1.1rem);
      --gap: clamp(0.8rem, 1.7vw, 2.1rem);
      --big-gap: clamp(1.8rem, calc(1.7vw + 1rem), 3.1rem);
      --bigger-gap: calc(var(--header-height) / 2);
      --header-height: clamp(8rem, calc(5vw + 4rem), 11rem);
    }

    :root {
      scroll-behavior: smooth;
    }

    header {
      position: sticky;
      top: 0;
      height: var(--header-height);
      z-index: 20;
    }

    .content-wrapper {
      margin: 0 auto;
      padding: 0 var(--gap);
      width: 100%;
      max-width: 1200px;
      height: inherit;
    }

    header .content-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    #logo {
      max-height: var(--header-height);
      padding: var(--small-gap) 0 0 0;
    }

    main {
      margin-top: var(--big-gap);
      z-index: 2;
    }

    .card {
      display: grid;
      grid-template-columns: 22% auto 22%;
      grid-template-rows: auto auto;
      gap: var(--big-gap);
      margin-bottom: var(--header-height);
    }

    .card img {
      grid-column: 2;
    }

    .card article {
      grid-column: span 3;
      grid-row: span 2;
    }

    /* footer {
      height: var(--header-height);
      position: relative;
    } */

    form {
      max-width: 35rem;
      margin: 0 auto;
      padding: var(--bigger-gap) 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    button,
    input[type="button"],
    input[type="submit"],
    input[type="reset"],
    input::file-selector-button {
      cursor: pointer;
    }

    textarea {
      height: calc(2 * var(--header-height));
    }

    input,
    textarea {
      width: 100%;
      margin-bottom: var(--big-gap);
      background-color: #465264;
      min-height: 3rem;
    }

    footer h4 {
      text-align: center;
      margin-bottom: var(--big-gap);
    }
  }

  @media (min-width: 768px) {
    .card {
      z-index: 10;
      row-gap: 0;
    }

    .card article {
      grid-column: 2 / 4;
      display: grid;
      grid-template-rows: subgrid;
      row-gap: 0;
    }

    .card img {
      grid-column: 1;
      grid-row: 2;
    }
  }
}

@layer skin {
  * {
    /* COLOR */
    --text-color: #181a1b;
  }

  * :not(form) {
    color: var(--text-color);
  }

  :root {
    font-family: Montserrat, Georgia, "Times New Roman", Times, serif;
    line-height: 1.5;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: clamp(2.2rem, 2vw + 1.25rem, 2.7rem);
  }

  header,
  footer {
    background-image: linear-gradient(45deg, #849aba, #5f6f86);
  }

  button {
    height: var(--bigger-gap);
    padding: 0.7rem;
    border: 1px solid var(--text-color);
    border-radius: 0.6rem;
  }

  header button:hover,
  footer button:hover {
    background-color: #849aba;
  }

  article button:hover {
    background-color: #f0cb9c;
  }

  footer button {
    width: 100%;
    margin: var(--big-gap) 0;
  }

  /* .card img {
    border: 0.5rem solid #764c38;
    border-radius: 0.5rem;
  } */

  article h4 {
    padding: var(--small-gap);
    background-color: blanchedalmond;
    border-top-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
  }

  article p {
    padding: var(--big-gap);
    background-color: burlywood;
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
  }

  input,
  textarea {
    color: white;
  }
}
