@layer reset, layout, components, theme;

@import 'reset.css' layer(reset);

@layer layout {
  @media (min-width: 0) {
    * {
      /* TIME */
      --def-transition-duration: 0.15s;

      /* LENGTH */
      --small-gap: clamp(0.5rem, 1.5vw, 1.1rem);
      --gap: clamp(0.8rem, 1.7vw, 2.1rem);
      --big-gap: clamp(1.8rem, calc(1.7vw + 1rem), 3.1rem);
      --bigger-gap: calc(var(--header-height) / 2);
      --header-height: clamp(8rem, calc(5vw + 4rem), 11rem);
    }

    html,
    body {
      width: 100%;
      overflow-x: hidden;
    }

    header,
    footer {
      height: var(--header-height);
    }

    .content-wrapper {
      margin: 0 auto;
      padding: 0 var(--gap);
      width: 100%;
      max-width: 1200px;
      height: inherit;
    }

    header .content-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 var(--big-gap);
    }

    main {
      margin-top: var(--big-gap);
    }

    .card {
      display: grid;
      grid-template-columns: 22% auto 22%;
      grid-template-rows: auto auto;
      gap: var(--big-gap);
      margin-bottom: var(--header-height);
    }

    .card img,
    .card video {
      grid-column: 2;
    }

    .card article {
      grid-column: span 3;
      grid-row: span 2;
    }

    /* footer {
        height: var(--header-height);
        position: relative;
      } */

    form {
      max-width: 35rem;
      margin: 0 auto;
      padding: var(--bigger-gap) 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  @media (min-width: 768px) {
    .card {
      row-gap: 0;
    }

    .card article {
      grid-column: 2 / 4;
      display: grid;
      grid-template-rows: subgrid;
      row-gap: 0;
    }

    .card img,
    .card video {
      grid-column: 1;
      grid-row: 2;
    }
  }
}

@layer components {
  #logo {
    max-height: var(--header-height);
  }

  button {
    height: var(--bigger-gap);
    padding: 0.7rem;
  }

  button,
  input[type='button'],
  input[type='submit'],
  input[type='reset'],
  input::file-selector-button {
    cursor: pointer;
  }

  article h4 {
    padding: var(--big-gap);
  }

  article p {
    padding: var(--big-gap);
  }

  footer h4 {
    text-align: center;
    margin-bottom: var(--big-gap);
  }

  footer button {
    width: 100%;
    margin: var(--big-gap) 0;
  }

  form textarea {
    height: calc(2 * var(--header-height));
  }

  form input,
  form textarea {
    width: 100%;
    margin-bottom: var(--big-gap);
    min-height: 3rem;
  }

  form label {
    width: 100%;
  }

  strong {
    font-weight: 600;
  }

  br {
    margin: var(--gap);
  }

  #media-article {
    max-width: 640px;
  }
}

@layer theme {
  * {
    /* COLOR */
    --text-color: #181a1b;
  }

  * :not(form) {
    color: var(--text-color);
  }

  :root {
    font-family: Montserrat, Georgia, 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: clamp(2.2rem, 2vw + 1.25rem, 2.7rem);
  }

  header,
  footer {
    background-image: linear-gradient(45deg, #849aba, #5f6f86);
  }

  header button:hover,
  footer button:hover {
    background-color: #849aba;
  }

  article button:hover {
    background-color: #f0cb9c;
  }

  button {
    border: 1px solid var(--text-color);
    border-radius: 0.5rem;
  }

  video {
    border: var(--small-gap) solid #393e41;
    background-color: #181a1b;
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    width: 100%;
  }

  /* .card img {
    border: 0.5rem solid #764c38;
    border-radius: 0.5rem;
  } */

  article h4 {
    background-color: blanchedalmond;
    border-top-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
  }

  article p {
    background-color: burlywood;
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
  }

  input,
  textarea {
    color: white;
    background-color: #465264;
    text-align: center;
  }

  #media {
    color: #f0c669;
    background-color: #393e41;
  }
}
